body{
    background-color: rgb(239, 239, 239);
    text-align: center;
}
form{
    background-color: white;
    width: 500px;
    border-radius: 15px;
    border: 0.5px solid black;
    height: 400px;
    margin: 100px auto 100px;
    padding: 37px 30px 75px ;
    text-align: left;

}
p{
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
}
button:active{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0s;
}
input{
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    color: rgb(140, 140, 140);
    border :2px solid  rgb(140, 140, 140);
}
label {
    color: rgb(140, 140, 140);
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 1.10rem;
    
}
h1{
    font-size: 1.75rem;
    font-family: sans-serif;
    padding-bottom: 40px;
    text-transform: capitalize;
    border-bottom: 2px solid rgb(201, 201, 201);
}
button{
    width: 100%;
    padding: 15px auto 15px;
    height: 10%;
    background-color: black
    ;color : white;
    font-size: 1.10rem;
    transition: 2s;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    text-transform: capitalize;
}